body {
    color: #000000;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 100vw;
}
.menu {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}
.menu__container {
    margin: 0 auto;
    width: 100vw;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__logo {
    font-family: "Raleway";
    color: #08A6E4;
    font-size: 32px;
    font-weight: 300;

}

.menu__links {
    display: flex;

}
.menu__links li{
    margin-right: 95px;
    text-transform: uppercase;
}
.menu__links a {
    text-decoration: none;
    color: #A5A5A5;
}

.menu__links a:hover, .menu__links a:active{
    text-decoration: none;
    color: #000000;
    padding-bottom: 25px;
    border-bottom: 4px solid #08A6E4;
    opacity: 1;

}
 /*Header nav styles end*/
 /*Hero section styling */

 .main__container {
    background-image: url("../assets/Background.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 840px;
    width: 100vw;

}
 .main__top__content {
     margin: 50px auto;
     width: 1352px;
     height: 40vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
 }


 .main__top__content h1 {
    font-family: "Raleway";
    font-size: 49px;
 }

 .margin__top__content {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .main__top__button {
    width: 440px;
    height: 67px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    border: none;
 }

 .main__top__button a {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
    text-align: center;
    text-decoration: none;
 }
 /* End of hero section styling */
 /* Counter section styling */

 .counter {
    margin: 20px auto;
    width: 1352px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 }

 .counter h2 {
     font-family: "Raleway";
     font-size: 36px;
     color: #000000;
 }

 .counter p {
    font-family: "Raleway";
    font-size: 16px;
    color: #A5A5A5;
}

 .counter__items {
    margin: 20px auto;
    width: 1352px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .counter__items__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .icon__man::before{
     content: "";
     display: block;
     background-image: url("../assets/Person.svg");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
     width: 44px;
     height: 52px;
     position: absolute;
     right: -10px;
 }

 .icon__man {
    background: #FB3B64;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
 }

 .icon__eye::before{
     content: "";
     display: block;
     background-image: url("../assets/Eye.svg");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
     width: 65px;
     height: 36px;
     position: absolute;
     top: 13px;
     right: -30px;
 }

 .icon__eye {
    background: #08A6E4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
 }

 .icon__file::before{
    content: "";
    display: block;
    background-image: url("../assets/Catalog.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 52px;
    height: 48px;
    position: absolute;
    top: 7px;
    right: -20px;
}

.icon__file {
    background: #55DFB4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
 }

 /* End of counter section styling */

 .features {
     background: #F7F7F7;
 }

 .features__container {
     margin: 0 auto;
     width: 1352px;
     height: 150vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .photo__desktop {
    width: 255px;
    height: 255px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #FB3B64;
    border-radius: 41px;
 }

 .feature__box {
     background: white;
     border: 1px solid #E8E9ED;
    border-radius: 5px;
     width: 1352px;
     height: 370px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }